---
layout: dbs
title:  "Prednášky"
---
<div class="row">
     <div id="sidebar" class="col-md-3 hidden-xs">
	<ul class="well nav nav-pills nav-stacked affix">
          <li class="nav-header">Prednášky</li>
  {% for post in site.posts reversed %}
     {% if post.categories contains 'lectures' %}
            <li><a href="#{{post.anchor}}">{{post.order}}.{{post.title}}</a></li>
     {% endif %}
  {% endfor %}
	</ul>
     </div>
     <div class="col-md-9 col-md-offset-0 col-sm-8 col-sm-offset-4">
  {% for post in site.posts reversed %}
     {% if post.categories contains 'lectures' %}
	<div id="{{post.anchor}}" class="row">
	  <div class="col-md-7">
		{{ post.content }}
          </div>
	</div>
      {% endif %}
   {% endfor %}
     </div> <!-- col-sm-10 -->
</div> <!-- row -->

